<% @page_title = "Modifica evento di".concat"#{@article.society}".concat"-".concat"#{@article.title}" %>

<%= include_tiny_mce_if_needed %>

<% form_for(@article, :html => { :multipart => true }) do |f|  %>
  <%= f.error_messages %>
  
  <% if @user.admin=="si"%>
		<p>
    <%= f.label :society %><br />
		<%= select_tag ('article[society]', options_for_select(@circoli_a) => :society)%>
 		</p>
 	<%end%>	
  <% if @user.admin=="no"%>
		<p>
		<%= f.label :society %><br />
		<%= select_tag ("article[society]", options_for_select(@user.society.to_a) => :society)%>
		</p>
  <%end%>	
  
  <p>
    <%= f.label :titolo %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :"modificare la data in"%><br />
    <%= f.datetime_select(:date, :prompt => {:day => @article.date.day, :month => @article.date.month, :year => @article.date.year, :hour => @article.date.hour}) %>
  </p>
  
  <p>
    <%= f.label :description%><br />
    <%= f.text_area :description, :class => "mceEditor"%>
  </p> 	
  
  	<%= image_tag @article.photo.url(:thumb), :class=>"img_articolo" %>		  	<br />
  	Immagine attuale: <%= @article.photo.url %>
  </p>
  
	<p>
		<%= f.label :photo%><br />
		<%= f.file_field :photo %>
	</p>
	
	<p>
		<%= f.label :pdf%><br />
		<%= f.file_field :pdf %>
	</p>
	
	<p>
	 	<%= f.submit 'Update' %>
	</p>
		
<% end %>
  

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
