<h1>Editing article</h1>
 <%= include_tiny_mce_if_needed %>
<% form_for(@article, :html => { :multipart => true }) do |f|  %>
  <%= f.error_messages %>


  <p>
  	<%= f.label :society %><br />
		<%= select_tag "article[society]", options_for_select(@circoli_a)  %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%=datetime_select("post", "written_on", :prompt => {:day => 'Choose day', :month => 'Choose month', :year => 'Choose year', :hour => false}) %>
  </p>
  <p>
    <%= f.label :description%><br />
    <%= f.text_area :description, :class => "mceEditor"%>
  </p>

  <p>
  	Immagine<br />
    <%= @article.photo.url %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
  <p>
	  <% form_for (:article, :url => "/articles/edit/#{@article.id}", :html => { :multipart => true }) do |l| %>
		  <%= l.file_field :photo%>
		  <%= l.submit 'Update' %>
		<% end %> 
	</p>
<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
