<h1>Editing article</h1>
<%= include_tiny_mce_if_needed %>
<% form_for(@article, :html => { :multipart => true }) do |f|  %>
  <%= f.error_messages %>
  <p>
  	<%= f.label :circolo %><br />
		<%= select_tag "article[society]", options_for_select(@circoli_a)  %>
  </p>
  <p>
    <%= f.label :titolo %><br />
    <%= f.text_field :title %>
  </p>
<!--    <p>-->
<!--    <%= f.label :date %><br />-->
<!--     <%=h @article.date.strftime("%d/%B/%y") %>-->
<!--	</p>-->
  <p>
    <%= f.label :"modificare la data in"%><br />
    <%= f.datetime_select(:date, :prompt => {:day => @article.date.day, :month => @article.date.month, :year => @article.date.year, :hour => @article.date.hour}) %>
  </p>
  <p>
    <%= f.label :description%><br />
    <%= f.text_area :description, :class => "mceEditor"%>
  </p> 	
  
  	<%= image_tag @article.photo.url(:thumb), :class=>"img_articolo" %>		  	<br />
  	Immagine attuale: <%= @article.photo.url %>
  </p>
	<p>
		 <%= f.file_field :photo %><br/>
		 <%= f.submit 'Update' %>
	</p>
<% end %>
  

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
