<div id="article-list">
<h1>Eventi</h1>

<table cellpadding="5" cellspacing="0">
<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">

<% @articles.each do |article| %>
  <tr>
    <td><%=h article.society %></td>
	<td width="60%">
	<span class="list-title"><%=h article.title %></span><br />
	<%= truncate(article.description.gsub(/<.*?>/,''), 80) %><br />
	</td>    
	<td><%=h article.date%></td>
    <td><%= image_tag article.photo.url(:thumb), :class => 'img_articolo' %></td> 
    <td class="list-actions">
	<%= link_to 'Show', "/articles/show/#{article.id}" %><br/>
	<%= link_to 'Edit', "/articles/edit/#{article.id}" %><br/>
	<%= link_to 'Destroy', "/articles/destroy/#{article.id}",
	:confirm => 'Are you sure?' %>
	</td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New article', new_article_path %>
<%= link_to 'Indietro', :controller=>:admin, :action=>:index %>

