<% @page_title = "vedi dopo " %>

 <%= include_tiny_mce_if_needed %>

<% form_for(@article, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

		<% if @user.admin=="si"%>
		<% @page_title = "Nuovo evento per ..." %>
		<p>
    <%= f.label :society %><br />
		<%= select_tag "article[society]", options_for_select(@circoli_a) => :society%>
 		</p>
 	<%end%>	
  <% if @user.admin=="no"%>
  	<% @page_title = "Nuovo evento per ".concat"#{@user.society}" %>
		<p>
		<%= f.label :society %><br />
		<%= select_tag "article[society]", options_for_select(@user.society.to_a) => :society%>
		</p>
  <%end%>	
  
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

	<p>
    <%= f.label :date%><br />
    
    <%=
    	f.datetime_select(:date) 
    	#datetime_select("article", "date", :prompt => {:day => 'Choose day', :month => 'Choose month', :year => 'Choose year'}) 
    	%>
	</p>
  <p>
    <%= f.label :description %><br />
     <%= f.text_area :description, :class => "mceEditor"%>
  </p>
  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>
  
 	<p>
	 <%= f.label :pdf%><br />
		 <%= f.file_field :pdf %><br/>
	</p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
