	<% @page_title = "Evento di ".concat"#{@article.society}".concat"-".concat"#{@article.title}" %>

<p>
  <b>Society:</b>
  <%=h @article.society %>
</p>

<p>
  <b>Title:</b>
  <%=h @article.title %>
</p>

<p>
  <b>Date:</b>
  <%=h @article.date.strftime("%d %B %y") %>
</p>

<p>
  <b>Description:</b>
  <%= @article.description%>
</p>

<p>
  <b>Immagine:</b>
  <%= image_tag @article.photo.url(:thumb), :class=>"img_articolo" %>
</p>


<%= link_to 'Edit', edit_article_path	 %> |
<%= link_to 'Back', articles_path %>
