<p>
  <b>Society:</b>
  <%=h @user.society %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Surname:</b>
  <%=h @user.surname %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>