<div id="article-list">
<h1>Avvisi da acli provinciale</h1>
<table cellpadding="5" cellspacing="0">
<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<% unless @reportsprovinciali.nil? %>
 
	<% @reportsprovinciali.each do |report| %>
		<tr>
		  <td><%=h report.society %></td>
		<td width="60%">
		<span class="list-title"><%=h report.title %></span><br />
		<%= truncate(report.description.gsub(/<.*?>/,''), 80) %><br />
		</td>    
		</tr>
	<% end %>
<% end %>
</table>
<%= link_to 'Vedi tutti gli avvisi', :controller=>:reports, :action=>:index %> 
</div>
<br>

<div id="article-list">
<h1>Prossimi eventi dai circoli</h1>
<table cellpadding="5" cellspacing="0">
<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<% unless @articlescircoli.nil? %>
		<% @articlescircoli.each do |article| %>
			<tr>
			 	<td><%=h article.society %></td>
			<td width="60%">
				<span class="list-title"><%=h article.title %></span><br />
				<%= truncate(article.description.gsub(/<.*?>/,''), 80) %><br />
			</td>
			<td><%=h article.date.strftime("%d %B %y") %></td>
    	<td><%= image_tag article.photo.url(:thumb), :class => 'img_articolo' %></td> 
			</tr>
		<% end %>
	<% end %>
</table>
<%= link_to 'Vedi tutti gli eventi', :controller=>:articles, :action=>:index %> 
</div>
