<% @page_title = "Circoli acli a Firenze e provincia" %>

<h1>Circoli</h1>

<table>
  <tr>
    <th>Circolo</th>
    <th>Indirizzo</th>
    <th>Email</th>
    <th>Tel</th>
    <th>Orario di apertura</th>
  </tr>

<% @societies.each do |society| %>
  <tr>
    <td><%= link_to society.society , :controller=>:societies, :action =>:show ,:id=>society.id %></td>
    <td><%=h society.base %></td>
    <td><%=h society.email %></td>
    <td><%=h society.tel %></td>
    <td> <%= image_tag society.photo.url(:thumb), :class => 'img_articolo' %> </td> 
    <td class="list-actions">
					<% if session[:user_id]!=nil and @user.admin == "si" %> 
						<%= link_to 'Edit', :controller => :societies, :action => :edit, :id => society.id %><br />
						<%= link_to "Destroy", :controller => "societies", :action => "destroy_society", :id => society.id %>
					<% end %>
					<%if session[:user_id]!=nil and @user.admin=="no" and @user.society==society.society%>
					<%= link_to 'Edit', :controller=>:societies, :action=>:edit, :id=>society.id %><br />
					<% end %>
			</td>
  </tr>
<% end %>
</table>

<br />

<%if (session[:user_id]!=nil and @user.admin=="si")%>
<%= link_to 'New society', new_society_path %>
<% end %>
<%= link_to 'Back', :controller=>:admin, :action=>:index %>
