<p>
  <b>Society:</b>
  <%=h @society.society %>
</p>

<p>
  <b>Base:</b>
  <%=h @society.base %>
</p>

<p>
  <b>Email:</b>
  <%=h @society.email %>
</p>

<p>
  <b>Tel:</b>
  <%=h @society.tel %>
</p>

<p>
  <b>Opening time:</b>
  <%=h @society.opening_time %>
</p>


<%= link_to 'Edit', edit_society_path(@society) %> |
<%= link_to 'Back', societies_path %>