<% @page_title = "Circolo acli ".concat "#{@society.society}" %>

<p>
  <b>Society:</b>
  <%=h @society.society %>
  </ br>
  <b>Immagine:</b>
  <%= image_tag @society.photo.url(:big), :class=>"img_articolo" %>
</p>
<p>
  <b>Base:</b>
  <%=h @society.base %>
</p>

<p>
  <b>Email:</b>
  <%=h @society.email %>
</p>

<p>
  <b>Tel:</b>
  <%=h @society.tel %>
</p>

<p>
  <b>Opening time:</b>
  <%=h @society.opening_time %>
</p>

<%if (session[:user_id]!=nil and @user.admin=="si")%>
	<%= link_to 'Edit', edit_society_path(@society) %> |
<% end %>
<%= link_to 'Back', societies_path %>
