<div id="article-list">
<h1>Listing reports</h1>
<table cellpadding="5" cellspacing="0">
<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">

<% @reports.each do |report| %>
  <tr>
    <td><%=h report.society %></td>
	<td width="60%">
	<span class="list-title"><%=h report.title %></span><br />
	<%= truncate(report.description.gsub(/<.*?>/,''), 80) %><br />
	</td>    
  <td class="list-actions">
	<%= link_to 'Show', "/reports/show/#{report.id}" %><br/>
	<%= link_to 'Edit', "/reports/edit/#{report.id}" %><br/>
	<%= link_to 'Destroy', "/reports/destroy/#{report.id}",
	:confirm => 'Are you sure?' %>
	</td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New report', new_report_path %>
<%= link_to 'Indietro', :controller=>:admin, :action=>:index %>
